:root[data-theme="gruvbox-medium-dark"] {
  --bg: #282828;
  --bg1: #44403c;
  --bg2: #625c56;
  --fg: #f2e5bc;
  --fg1: #e0d4aa;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --orange: #fe8019;
  --gray: #a89984;
}

:root[data-theme="gruvbox-medium-light"] {
  --bg: #fbf1c7;
  --bg1: #f2e5bc;
  --bg2: #e0d4aa;
  --fg: #3c3836;
  --fg1: #504945;
  --red: #cc241d;
  --green: #a9b71a;
  --yellow: #ffb733;
  --blue: #4599cc;
  --purple: #d65db1;
  --aqua: #6cbf86;
  --orange: #ff7518;
  --gray: #928374;
}
